<!DOCTYPE html>
<html lang="id">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Toko Mochi Lily</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../static/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="custom-select-box">
                        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="IDR">
							<option>IDR</option>
							<option>USD</option>
							<option>EUR</option>
						</select>
                    </div>
                    <div class="right-phone-box">
                        <p>Hubungi Kami :+62 <a href="/contact"> 831 7623 5143</a></p>
                    </div>
                    <div class="our-link">
                        <ul>
                            <li><a href="/contact"><i class="fa fa-user s_color"></i> Profil</a></li>
                            <li><a href="/contact"><i class="fas fa-location-arrow"></i> Lokasi</a></li>
                            <li><a href="/contact"><i class="fas fa-headset"></i> Kontak</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="login-box">
						<select id="basic" class="selectpicker show-tick form-control" data-placeholder="Masuk">
							<option>Daftar Disini</option>
							<option>Masuk</option>
						</select>
					</div>
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> 20% off Semua Pembelian! Gunakan kode promo: MOCHI20
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Diskon hingga 50% untuk Mochi Pilihan!
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Potongan 10%! Belanja Mochi Sekarang
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Diskon 30% untuk Pembelian di Atas Rp100.000
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Gratis Ongkir untuk Pesanan Mochi di Kota Anda!
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Promo Spesial! Buy 1 Get 1 untuk Mochi Favorit Anda
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Diskon Tambahan 10% dengan Kode: LILY10
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i>  Hemat hingga 70%! Jangan Lewatkan Promo Mochi
                                </li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="/"><img src="../static/images/logo.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item"><a class="nav-link" href="/">Beranda</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/about">Tentang Kami</a></li>
                        <li class="dropdown">
                            <a href="/shop" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">TOKO</a>
                            <ul class="dropdown-menu">
                                <li><a href="/cart">Keranjang</a></li>
                                <li><a href="/checkout">Pembayaran</a></li>
                                <li><a href="/myaccount">Akun Saya</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="/contact">Hubungi Kami</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="/shop"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu"><a href="/cart">
						<i class="fa fa-shopping-bag"></i>
                            <span class="badge">3</span>
							<p>Keranjang Saya</p>
					</a></li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        <li>
                            <a href="#" class="photo"><img src="{{ url_for('static', filename='images/img-pro-01.jpg') }}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Mochi Matcha Pandan</a></h6>
                            <p>1x - <span class="price">Rp10.000</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="{{ url_for('static', filename='images/img-pro-02.jpg') }}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Mochi Choco Lava</a></h6>
                            <p>1x - <span class="price">Rp5.000</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="{{ url_for('static', filename='images/img-pro-03.jpg') }}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Mochi Oreo</a></h6>
                            <p>1x - <span class="price">Rp5.000</span></p>
                        </li>
                        <li class="total">
                            <a href="#" class="btn btn-default hvr-hover btn-cart">LIHAT KERANJANG</a>
                            <span class="float-right"><strong>Total</strong>: Rp45.000</span>
                        </li>
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Cari">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>TENTANG KAMI</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Beranda</a></li>
                        <li class="breadcrumb-item active">TENTANG KAMI</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="../static/images/about-img.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">Kami adalah <span>Toko Mochi Lily</span></h2>
                    <p>"Selamat datang di Mochi Lily, tempat Anda menemukan kelezatan mochi yang tak tertandingi. Nama "LILY" adalah singkatan dari Lembut, Istimewa, Lezat, dan Yummy, yang mencerminkan filosofi kami dalam menciptakan setiap produk. Kami percaya bahwa setiap mochi harus memberikan rasa lembut saat digigit, menghadirkan pengalaman istimewa, selalu lezat, dan pastinya membuat Anda berkata "yummy!" Dengan bahan-bahan berkualitas tinggi dan sentuhan cinta di setiap proses, Mochi Lily hadir untuk memberikan kebahagiaan di setiap gigitan.</p>
                    <p>Kami tidak hanya membuat mochi; kami menciptakan kenangan manis yang tak terlupakan. Dengan perpaduan antara resep tradisional dan inovasi modern, Mochi Lily hadir untuk menghadirkan kebahagiaan di setiap gigitan. Kami percaya bahwa setiap mochi adalah karya seni yang dibuat dengan cinta, memastikan bahwa setiap pelanggan merasakan kualitas, rasa, dan kehangatan yang hanya bisa diberikan oleh Mochi Lily. Karena bagi kami, kebahagiaan Anda adalah prioritas utama".</p>
					<a class="btn hvr-hover" href="/shop">Baca selengkapnya</a>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Kami Terpercaya</h3>
                        <p>Kami telah dipercaya oleh pelanggan kami karena komitmen untuk selalu memberikan kualitas terbaik. Kepercayaan Anda adalah motivasi kami untuk terus menjaga integritas dan transparansi dalam setiap langkah bisnis. Kami memastikan setiap produk yang sampai ke tangan Anda adalah yang terbaik. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Kami Profesional</h3>
                        <p>Profesionalisme adalah kunci dari kesuksesan kami. Tim kami terdiri dari individu yang berdedikasi tinggi, memastikan setiap proses dari pembuatan hingga pengiriman dilakukan dengan cermat dan penuh perhatian. Kami bekerja keras untuk memastikan Anda mendapatkan pengalaman berbelanja yang menyenangkan dan memuaskan. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Kami Ahli</h3>
                        <p>Sebagai ahli dalam pembuatan mochi, kami selalu mengutamakan inovasi dan kualitas. Dengan kombinasi resep tradisional dan sentuhan modern, kami menciptakan mochi yang tidak hanya lezat tetapi juga memenuhi standar tertinggi. Keahlian kami memungkinkan Anda menikmati mochi yang otentik dan penuh cinta. </p>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Tim Kami</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="../static/images/img-1.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Imam Rizki Saputra</h3> <span class="post">Direktur Utama</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="/contact" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="/contact" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="/contact" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="/contact" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>"Imam Rizki Saputra adalah Direktur Utama visioner di Mochi Lily. Dengan latar belakang seorang pecinta kuliner yang kuat dan semangat inovasi, Imam telah berperan penting dalam pertumbuhan dan kesuksesan perusahaan. Di bawah kepemimpinannya, Mochi Lily telah memperluas produk dan mencapai pasar yang luas, menjadi merek yang sangat disukai oleh pelanggan. Dedikasi Imam terhadap keunggulan dan kepuasan pelanggan terus menginspirasi tim untuk mencapai tingkat yang lebih tinggi." </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="../static/images/img-2.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Silvi Sri Mulyani</h3> <span class="post">Kepala Pemasaran</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="/contact" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="/contact" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="/contact" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="/contact" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>"Silvi Sri Mulyani adalah Kepala Pemasaran di Mochi Lily. Dengan latar belakang dalam pemasaran dan komunikasi, Silvi membawa inovasi dan strategi pemasaran yang efektif. Di bawah kepemimpinannya, Mochi Lily telah meningkatkan visibilitas online dan meningkatkan penjualan melalui berbagai platform digital. Silvi adalah pemimpin yang bersemangat dan berdedikasi, memastikan bahwa setiap produk Mochi Lily dapat ditemukan dan disukai oleh pelanggan."</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../static/images/instagram-img-01.jpg" alt="" />
                    <div class="hov-in">
                        <a href="/shop"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../static/images/instagram-img-02.jpg" alt="" />
                    <div class="hov-in">
                        <a href="/shop"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../static/images/instagram-img-03.jpg" alt="" />
                    <div class="hov-in">
                        <a href="/shop"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../static/images/instagram-img-04.jpg" alt="" />
                    <div class="hov-in">
                        <a href="/shop"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../static/images/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="/shop"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../static/images/instagram-img-06.jpg" alt="" />
                    <div class="hov-in">
                        <a href="/shop"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../static/images/instagram-img-07.jpg" alt="" />
                    <div class="hov-in">
                        <a href="/shop"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../static/images/instagram-img-08.jpg" alt="" />
                    <div class="hov-in">
                        <a href="/shop"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../static/images/instagram-img-09.jpg" alt="" />
                    <div class="hov-in">
                        <a href="/shop"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../static/images/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="/shop"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Jam Kerja</h3>
							<ul class="list-time">
								<li>Senin - Jumat: 08.00 - 17.00</li> <li>Sabtu: 10.00 - 20.00</li> <li>Minggu: <span>Tutup</span></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Buletin</h3>
							<form class="newsletter-box">
								<div class="form-group">
									<input class="" type="email" name="Email" placeholder="Alamat Email*" />
									<i class="fa fa-envelope"></i>
								</div>
								<button class="btn hvr-hover" type="submit">Kirim</button>
							</form>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Media Sosial</h3>
							<p>Temukan kami di media sosial.</p>
							<ul>
                                <li><a href="/contact"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="/contact"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="/contact"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="/contact"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="/contact"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="/contact"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="/contact"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
						</div>
					</div>
				</div>
				<hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>Tentang Mochi Lily Shop</h4>
                            <p>Mochi Lily Shop adalah toko online terpercaya yang menyediakan berbagai produk segar berkualitas tinggi. Kami berkomitmen memberikan pengalaman belanja terbaik dengan produk-produk pilihan dan layanan prima.</p> 
							<p>Temukan kemudahan berbelanja kebutuhan sehari-hari Anda di Mochi Lily Shop.</p> 							
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Informasi</h4>
                            <ul>
                                <li><a href="/about">Tentang Kami</a></li>
                                <li><a href="/contact">Layanan Pelanggan</a></li>
                                <li><a href="/shop">Peta Situs</a></li>
                                <li><a href="/shop">Syarat &amp; Ketentuan</a></li>
                                <li><a href="/shop">Kebijakan Privasi</a></li>
                                <li><a href="/shop">Informasi Pengiriman</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Hubungi Kami</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Alamat: Sukamahi RT 05 RW 06 <br>Ds. SagaraCipta,Kec. Ciparay<br> Kabupaten Bandung, Jawa Barat 40551 </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Telepon: <a href="/contact">+62-831-7623-5143</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="/contact">MochililyShop@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2025 <a href="/shop">MochililyShop</a> Design By :
            <a href="/shop">html design</a></p>
    </div>
    <!-- End copyright  -->

    <a href="/shop" id="back-to-top" title="Kembali ke atas" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../static/js/jquery.superslides.min.js"></script>
    <script src="../static/js/bootstrap-select.js"></script>
    <script src="../static/js/inewsticker.js"></script>
    <script src="../static/js/bootsnav.js."></script>
    <script src="../static/js/images-loded.min.js"></script>
    <script src="../static/js/isotope.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/baguetteBox.min.js"></script>
    <script src="../static/js/form-validator.min.js"></script>
    <script src="../static/js/contact-form-script.js"></script>
    <script src="../static/js/custom.js"></script>
</body>

</html>